<!-- NAV BAR -->
<nav>
	<div class="logo">
		<h4> Navigation </h4>
	</div>
    </div>
    <ul class="nav-links">
        <li>
            <a href="adopters.html">Adopters</a>
        </li>
        <li>
            <a href="counselors.html">Counselors</a>
        </li>
        <li>
            <a href="dogs.html">Dogs</a>
        </li>
        <li>
            <a class="active" href="add_dog.html">Add Dog</a>
        </li>
        <li>
            <a href="applications.html">Applications</a>
        </li>
        <li>
            <a href="add_application.html">New Application</a>
        </li>
        <li>
            <a href="adoption_details.html">Adoption Details</a>
        </li>
    </ul>
</nav>
<!-- end navbar --> 


<div id="dogform">
    <fieldset>
        <lengend><h2>Add Dog:</h2></lengend><br>
        <label>Dog Name:</label>
        <input type="text" name="dogname" id="dogname">
        <br/>
        <label>Birthdate:</label>
        <input type="date" name="birthday" id="birthday">
        <br />
        <label>Breed:</label>
        <input type= "text" name="breed" id="breed">
        </br />
        <label>Gender:</label>
        <select id="doggender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <label>Size(fullgrown):</label>
        <select id="dogsize">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select>
        </br />
        <label>Adoption Satus:</label>
        <select id="dogstatus">
            <option value="avaialble">Avaialble</option>
            <option value="pending">Pending</option>
            <option value="adopted">Adopted</option>
        </select>
        </br />
        <label>Energy Level:</label>
        <select id="energy">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
        </br />
        <p margin="0px" >Coat Type:</p>
        <input type="radio" id="normal" name ="coat" value="norma;">
        <label for="coat">Normal</label>
        <br />
        <input type="radio" id="hypoallergenic" name ="coat" value="hypoallergenic">
        <label for="coat">Hypoallergenic</label>
        </br />
        <label>Color:</label>
        <input type="text" name="color" id="color">
        </br />
        <label>Dogs OK?</label>
        <select id="dogsOK">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        </br />
        <label>Kids OK?</label>
        <select id="kids OK">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </br />
    <label>Cats OK?</label>
    <select id="cats OK">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <br />
    <input type="submit">
    </fieldset>
</div>