<h1>Adopters</h1>
<div id="adopter_form">
    <fieldset>
        <legend><h2>Add New Adopter:</h2></legend><br/>
        <label>First Name:</label>
        <input type="text" name="fname" id="fname">
        <br />
        <label>Last Name:</label>
        <input type="text" name="lname" id="lname">
        <br />
        <label>Phone Number:</label>
        <input type="tel" name="phone" id="phone">
        <br />
        <label>E-mail Address:</label>
        <input type="email" name="email" id="email">
        <br />
        <label>Address:</label><br />
        <input type="street" name="street" id="street" placeholder="street"> <br />
        <input type="city" name="city" id="state" placeholder="city">
        <input type="state" name="state" id="state" placeholder="state">
        <input type="zip" name="zip" id="zip" placeholder="zip"> <br />

        <input type="submit">
    </fieldset>
</div>
<div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>E-mail</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>000</td>
            <td>Jenny</td>
            <td>Tutone</td>
            <td>415-867-5309</td>
            <td>j.tutone@gmail.com</td>
            <td>1882 Gerard Street, San Francisco, California</td>
            <td><button>Update</button><button>Delete</button></td>

        </tr>
    </tbody>
</table>
</div>
