<!DOCTYPE html>
<html>
<head>

   <!-- metadate goes in head -->

   <title>View Applications</title>
</head>
<body>
<h1>Applications</h1>
<p>This page will show a limited version of the applications database. The view button will allow users to view the full table with all the data from the application. On the view page, users will be able to update and delete the application.</p>
<button onclick="window.location.href = 'add_application.html';">Add New Application</button>
<table>
 <thead>
  <tr>
   <th> App ID
   <th> Date
   <th> Adopter ID
   <th> Counselor ID
   <th> &nbsp;
 <tbody>
  <tr>
   <td> 100 
   <td> 06-13-1987
   <td> 1
   <td> 2332
   <td> <button>View</button>
  <tr>
   <td> 101 
   <td> 01-13-1990
   <td> 2
   <td> 4567
   <td> <button>View</button>
   <tr>
   <td> 102
   <td> 03-21-2000
   <td> 3
   <td> 6789
   <td> <button>View</button>
</table>

</body>
</html>