<h1>Dogs</h1>
<div>
    <button onclick="window.location.href = 'add_dog.html';">Add New Dog</button>
</div>
<div>
    <input type="search" id="dogSearch" placeholder="Search for dogs.."><button>Search</button><br />
    <label>Breed:</label>
    <select id ="dogbreed">
        <option value="any">Any</option>
        <option value="placeholder">Fill in beeds</option>
        <option value="placeholder">list later.. </option>
    </select>
    <label>Age:</label>
    <select id="dogage">
        <option value="any">Any</option>
        <option value="puppy">Puppy</option>
        <option value="young">Young</option>
        <option value="adult">Adult</option>
        <option value="Senior">Senior</option>
    </select>
    <label>Gender:</label>
    <select id="doggender">
        <option value="any">Any</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <label>Size:</label>
    <select id="dogsize">
        <option value="any">Any</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>
    <label>Status:</label>
    <select id="dogstatus">
        <option value="any">Any</option>
        <option value="avaialble">Avaialble</option>
        <option value="pending">Pending</option>
        <option value="adopted">Adopted</option>
    </select>
</div>
<div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Size</th>
            <th>Color</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>00</td>
            <td>Bane</td>
            <td>6y</td>
            <td>Boxer</td>
            <td>Large</td>
            <td>Brindle</td>
            <td>Adopted</td>
            <td>
                <button>view</button>           
            </td>
        </tr>
    </tbody>
</table>
</div>
