<html>
    <head><title>Browse Dogs</title></head>
    <link rel="stylesheet" type="text/css" href="style.css">

<!-- NAV BAR -->
<nav>
    <div class="logo">
    </div>
    </div>
    <ul class="nav-links">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="adopters.html">Adopters</a>
        </li>
        <li>
            <a href="counselors.html">Counselors</a>
        </li>
        <li>
            <a class="active" href="dogs.html">Dogs</a>
        </li>
        <li>
            <a href="add_dog.html">Add Dog</a>
        </li>
        <li>
            <a href="applications.html">Applications</a>
        </li>
        <li>
            <a href="add_application.html">New Application</a>
        </li>
        <li>
            <a href="adoption_details.html">Adoption Details</a>
        </li>
    </ul>
</nav>
<!-- end navbar --> 




<h1>Dogs</h1>
<div>
    <button onclick="window.location.href = 'add_dog';">Add New Dog</button>
</div>
<div>
    <input type="search" id="dogSearch" placeholder="Search for dogs.."><button>Search</button><br />
    <label>Breed:</label>
    <select id ="dogbreed">
        <option value="any">Any</option>
        <option value="placeholder">Fill in beeds</option>
        <option value="placeholder">list later.. </option>
    </select>
    <label>Age:</label>
    <select id="dogage">
        <option value="any">Any</option>
        <option value="puppy">Puppy</option>
        <option value="young">Young</option>
        <option value="adult">Adult</option>
        <option value="Senior">Senior</option>
    </select>
    <label>Gender:</label>
    <select id="doggender">
        <option value="any">Any</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <label>Size:</label>
    <select id="dogsize">
        <option value="any">Any</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>
    <label>Status:</label>
    <select id="dogstatus">
        <option value="any">Any</option>
        <option value="avaialble">Avaialble</option>
        <option value="pending">Pending</option>
        <option value="adopted">Adopted</option>
    </select>
</div>
<div>
<table>
    <thead>
        <tr>
            <th>Pet ID</th>
            <th>Shelter</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Breed</th>
            <th>Size</th>
            <th>Status</th>
            <th>Energy Level</th>
            <th>Coat</th>
            <th>Color</th>
            <th>Dogs OK</th>
            <th>Cats OK</th>
            <th>Kids OK</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
        <tr>
            <td>{{ r.0 }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>
            <td>{{ r[5] }}</td>
            <td>{{ r[6] }}</td>
            <td>{{ r[7] }}</td>
            <td>{{ r[8] }}</td>
            <td>{{ r[9] }}</td>
            <td>{{ r[10] }}</td>
            <td>{{ r[11] }}</td>
            <td>{{ r[12] }}</td>
            <td>{{ r[13] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</html>