<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- NAV BAR -->
<nav>
	<div class="logo">
	</div>
    </div>
    <ul class="nav-links">
        <li>
            <a class="active" href="/">Home</a>
        </li>
        <li>
            <a href="/adopters">Adopters</a>
        </li>
        <li>
            <a href="/counselors">Counselors</a>
        </li>
        <li>
            <a href="/dogs">Dogs</a>
        </li>
        <li>
            <a href="/add_dog">Add Dog</a>
        </li>
        <li>
            <a href="/applications">Applications</a>
        </li>
        <li>
            <a href="/add_application">New Application</a>
        </li>
        <li>
            <a href="/adoption_details">Adoption Details</a>
        </li>
    </ul>
</nav>
<!-- end navbar --> 