<h1>Index of Pages</h1>
</div>
<ul class="nav-links">
    <li>
        <a href="adopters.html">Adopters</a>
        <p>See list of adopters, add a new adopter</p>
    </li>
    <li>
        <a href="counselors.html">Counselors</a>
        <p>See list of counselors, add a new counselor</p>
    </li>
    <li>
        <a href="dogs.html">Dogs</a>
        <p>See list of dogs</p>
    </li>
    <li>
        <a href="add_dog.html">Add Dog</a>
        <p>Form to add a new dog</p>
    </li>
    <li>
        <a href="applications.html">Applications</a>
        <p>See all of the applications</p>
    </li>
    <li>
        <a href="add_application.html">New Application</a>
        <p>Add a new application</p>
    </li>
    <li>
        <a href="adoption_detils.html">Adoption Details</a>
        <p>See all of the adoption details, add/update/delete adoption details</p>
    </li>
</ul>
</div>