<link rel="stylesheet" type="text/css" href="style.css">

<!-- NAV BAR -->
<nav>
	<div class="logo">
	</div>
    </div>
    <ul class="nav-links">
        <li>
            <a class="active" href="index.html">Home</a>
        </li>
        <li>
            <a href="adopters.html">Adopters</a>
        </li>
        <li>
            <a href="counselors.html">Counselors</a>
        </li>
        <li>
            <a href="dogs.html">Dogs</a>
        </li>
        <li>
            <a href="add_dog.html">Add Dog</a>
        </li>
        <li>
            <a href="applications.html">Applications</a>
        </li>
        <li>
            <a href="add_application.html">New Application</a>
        </li>
        <li>
            <a href="adoption_details.html">Adoption Details</a>
        </li>
    </ul>
</nav>
<!-- end navbar --> 