<html>
    <head><title>Browse Adopters</title></head>
    <link rel="stylesheet" type="text/css" href="style.css">

<!-- NAV BAR -->
<nav>
	<div class="logo">
	</div>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a class="active" href="/adopters">Adopters</a>
        </li>
        <li>
            <a href="/counselors">Counselors</a>
        </li>
        <li>
            <a href="/dogs">Dogs</a>
        </li>
        <li>
            <a href="/add_dog">Add Dog</a>
        </li>
        <li>
            <a  href="/applications">Applications</a>
        </li>
        <li>
            <a href="/add_application">New Application</a>
        </li>
        <li>
            <a href="/adoption_details">Adoption Details</a>
        </li>
    </ul>
</nav>
<!-- end navbar --> 

<h1>Adopters</h1>
<div id="adopter_form">
    <h2>Update Adopter:</h2><br/>
    <form id="update_adopter" action="/update_adopter/{{adopter[0]}}" method="post">
        <input type="hidden" name="adopterID" value = "{{ adopter[0] }}">
        <label>First Name:</label>
        <input type="text" name="fname" id="fname" value="{{ adopter[1] }}">
        <br />
        <label>Last Name:</label>
        <input type="text" name="lname" id="lname" value="{{ adopter[2] }}">
        <br />
        <label>Phone Number:</label>
        <input type="tel" name="phone" id="phone" value="{{ adopter[7] }}">
        <br />
        <label>E-mail Address:</label>
        <input type="email" name="email" id="email" value="{{ adopter[8] }}">
        <br />
        <label>Address:</label><br />
        <input type="street" name="street" id="street" placeholder="street" value="{{ adopter[3] }}"> <br />
        <input type="city" name="city" id="state" placeholder="city" value="{{ adopter[4] }}">
        <input type="state" name="state" id="state" placeholder="state" value="{{ adopter[5] }}">
        <input type="zip" name="zipcode" id="zipcode" placeholder="zip" value="{{ adopter[6] }}"> <br />

        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <input type="search" id="adopterSearch" placeholder="Search for adopter.."><button>Search</button><br />
</div>
<div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>E-mail</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
        <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[7] }}</td>
            <td>{{ r[8] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>
            <td>{{ r[5] }}</td>
            <td>{{ r[6] }}</td>
            <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_adopter/{{r[0]}}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_adopter/{{r[0]}}'"> </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</html>